
.slideImage{
    height: 300px;
	width: 100%;
} 
@media (min-width: 768px) {
.bTw{
	margin-left: 100px;
	margin-right: 100px;
    }
}
 /* CSS for Qrcode */
 @media (min-width: 768px){
	.qrc{
		margin-left: 500px;
		margin-right: 500px;
	  
	  }
 }
 @media (min-width: 768px){
	 .Myt{
		 margin-left: 1000px;
		 margin-right: 50px;
	 }
 }
 